* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
  }
  
  article {
    background-color: #112b3c;
    border-radius: 20px;
    margin: 15px;
  }
  article img {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    border-radius: 20px;
  }
  h2 {
    margin: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #f66b0e;
  }
  p {
    text-align: justify;
    text-align: center;
    margin: 5px;
    color: #f66b0e;
  }
  
  /*GRIDS POR AREAS*/
  .gridcontainer {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 0.2fr 2fr 1.5fr 0.2fr;
    grid-template-areas:
      "header header"
      "hero hero"
      "productos aside"
      "footer footer";
  }
  /*NOMBRE DE AREAS*/
  header {
    grid-area: header;
  }
  #hero {
    grid-area: hero;
  }
  #productos {
    grid-area: productos;
  }
  
  aside {
    grid-area: aside;
  }
  footer {
    grid-area: footer;
  }
  
  /*flex*/
  
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1px;
    background-color: #112b3c;
    grid-area: header;
  }
  
  /*BARRA NAVEGACION*/
  .header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  .header nav ul li {
    background-color: #f66b0e;
    margin: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
  }
  .header nav ul li a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: #112b3c;
    font-size: 13px;
  }
  li:hover {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: solid #f66b0e;
  }
  /*sectionHero*/
  #hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1px;
    height: calc(100vh - 50px);
    background: url(/images/Attackportada.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: hero;
  }
  #hero h1 {
    font-size: 60px;
    font-weight: bold;
    color: #f66b0e;
  }
  
  #hero a {
    display: flex;
    background-color: #f66b0e;
    list-style: none;
    color: #efefef;
    text-decoration: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 30px;
    padding: 5px;
  }
  
  #productos {
    display: flex;
    flex-flow: nowrap;
    background-color: #112b3c;
    padding: 1px;
    margin: 1px;
    justify-content: space-evenly;
    grid-area: productos;
  }
  
  img {
    width: 300px;
    height: 300px;
  }
  
  aside {
    display: flex;
    margin: 1px;
    background-color: #112b3c;
    grid-area: aside;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #112b3c;
    grid-area: footer;
    margin: 1px;
  }
  .footer div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
  }
  
  .footer div img {
    width: 25px;
    height: 25px;
    margin: 5px;
  }
  .footer > p {
    font-size: 12px;
  }
  
  /*-----MQ-----*/
  @media screen and (max-width 800px:){
    .header {
      flex-direction: column;
    }
  }